{% extends "base.html" %}

{% block title %}Редактировать статью{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">✏️ Редактировать статью</h1>
    <div class="card shadow-lg p-4">
        <form action="{% url 'article_update' article_id=article_id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">💾 Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}